<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cagayake.mapper.GenreMapper">
    <insert id="saveGenre" parameterType="genre">
        insert into genre(mal_id,name) value (#{mal_id},#{name})
    </insert>


</mapper>