<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cagayake.mapper.SongMapper">

    <insert id="saveSong" parameterType="song">
        insert into song(mal_id,type,name) value (#{mal_id},#{type},#{name})
    </insert>

    <select id="findSongByIdAndType" parameterType="song" resultType="song">
        select * from song where mal_id = #{mal_id} and type = #{type}
    </select>
</mapper>